body{
    background-image: url('./img/blackboard.jpg');
    background-size: cover;
    margin: 0;
    height: 100vh;
    font-family: 'Neucha', cursive;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

tr {
    width: 600px;
}

td{
    position: relative;
    width: 200px;
    height: 200px;
    border: 5px solid whitesmoke; 
    cursor: pointer;
}

td:hover{
    background-color: rgba(240, 240, 240, 0.3);
}

.playerPanel{
    display: flex;
    font-size: 42px;
    margin: 60px;
}

.playerPanel div{
    display: flex;
    align-items: center;
    margin: 20px;
}

.playerPanel img{
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin: 8px;
}

.playerInactive{
    opacity: 0.5;
}

.playingField{
    position: relative;
}

.horizontalLine{
    height: 8px;
    width: 430px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;
}

.spinVertical{
    transform: rotate(90deg) scaleX(0.0);
}

.shapes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.shapes img{
    position: absolute;
    width: 80px;
    height: 80px;
}

.d-none{
    display: none;
}
