body{
    background-image: url('./img/blackboard.jpg');
    background-size: cover;
    margin: 0;
    height: 100vh;
    font-family: 'Neucha', cursive;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

tr {
    width: 400px;
}

td{
    position: relative;
    width: 133px;
    height: 133px;
    border: 5px solid whitesmoke; 
    cursor: pointer;
}

td:hover{
    background-color: rgba(240, 240, 240, 0.3);
}

.d-none{
    display: none !important;
}

.playerPanel{
    display: flex;
    font-size: 30px;
}

.playerPanel div{
    display: flex;
    align-items: center;
    margin: 16px 32px;
    border: 1px solid white;
    border-radius: 3%;
    background-color: darkslategrey;
    padding: 8px;
}

.playerPanel img{
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 8px;
}

.playerInactive{
    opacity: 0.5;
}

.restart{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10%;
    color: white;
    font-family: 'Neucha', cursive;
    font-size: 20px;
    padding: 8px;
}

.restart:hover{
    background-color: rgba(4, 49, 49, 0.5);
    cursor: pointer;
}

.restart img{
    margin-right: 8px;
}

.playingField{
    position: relative;
    margin: 32px;
}

.horizontalLine{
    height: 5px;
    width: 380px;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;
}

.spinVertical{
    transform: rotate(90deg) scaleX(0.0);
}

.shapes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.shapes img{
    position: absolute;
    width: 80px;
    height: 80px;
}

.dialog {
    background-color: rgba(0, 0, 0, 0.95);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Audiowide', cursive;
    font-size: 54px;
    animation: zoomIn 225ms ease-in-out;
    color: white;
}

.dialog span{
    font-size: 28px;
    color: rgb(209, 2, 64);
}

@keyframes zoomIn {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

